/* COL-CONTACTS ---------------------------------------- */
.col-contacts-container{
  width: 100%;
  height: 100%;
}


/* ricevi-notifiche */
.ricevi-notifiche{
  width: 100%;
  height: 80px;

  align-items: center;
  background: #8EDAFC;
}

.ricevi-notifiche-icona{
  width: 50px;
  height: 50px;
  margin: auto 0 auto 20px;

  background: #F2FBFF;
  border-radius: 100%;
  text-align: center;
  color: #8EDAFC;
  line-height: 50px;
  font-size: 20px;
}

.ricevi-notifiche-text{
  margin-left: 10px;
  padding-right: 5px;
}

.ricevi-notifiche-text h4{
  font-weight: 400;
}
.ricevi-notifiche-text a{
  color: #4F7485;
  font-size: 13.5px;
}


/* cerca */
.cerca{
  width: 100%;
  height: 50px;

  justify-content: center;
  align-items: center;
  background: #fafafa;
}

.container-ricerca{
  width: calc(100% - 14px);
  height: calc(100% - 14px);

  background: white;
  border-radius: 2px;
  border: solid 0.4px lightgray;
}

.cerca .icona{
  width: 15%;
  height: 100%;

  justify-content: center;
  align-items: center;
}

.cerca .fa-search{
  color: #B6B9BB;
}

.input{
  width: 85%;
  height: 100%;

  align-items: center;
}

#cerca-chat{
  width: calc(100% - 14px);
  height: calc(100% - 1px);
  padding: 0px 7px;
  margin: 0;
  border: 0;

  font-family: inherit;
  color: #B6B9BB;
}


/* contacts */
.contacts{
  height: calc(100% - 70px - 50px - 80px);
  background: #fff;
  overflow-y: scroll;
}

.contact-conainer{
  width: 100%;
  height: 80px;
  align-items: center;

  cursor: pointer;
  border-bottom: 1px solid #F5F5F5;
}
.contact-conainer:hover{
  background: #f4f5f5;
}
.contact-conainer.active{
  background: #E9EBEB;
}

.box-profile-img-contacts{
  margin: 0px 20px;
}

.box-name-and-time{
  width: 100%;
  justify-content: space-between;
  margin-right: 5px;
}

.contact-name{
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 4px;
}

.last-msg-preview{
  font-size: smaller;
  color:#B6B9BB;
}

.last-msg-time{
  width: 40px;
  color: #B6B9BB;
  font-size: 12px;
  font-weight: lighter;
}
